# Объектные файлы
*.o

# Исполняемые файлы
main
test_find
test_words

# Папка сборки
build/

# Временные файлы
*~
*.swp
.vscode/
.idea/

# Python кэш (из субмодуля)
__pycache__/
*.pyc

tests/generate_words.py